<form>
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary">Cancel</button>
        <input type="submit" class="btn btn-info ml-2" value="Save Device">
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="d-block">Device type</label>
                <select class="form-control">
                    <option>Select device type</option>
                </select>
            </div>
            <label class="d-block">SKU</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-6">
            <label class="d-block">Make</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-6">
            <label class="d-block">Model</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-3">
            <h2>Device version</h2>
        </div>
        <div class="col-lg-9">
            <hr/>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-3">
            <label class="d-block">Storage</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-3">
            <label class="d-block">Color</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-6">
            <label class="d-block">Image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label class="d-block">Storage</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-3">
            <label class="d-block">Color</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-6">
            <label class="d-block">Image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
</form>