<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Devices</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <div class="bg-dark">
      <header>
        <div class="container navbar-dark">
          <div class="d-flex align-items-center">
            <div class="nav-logo">
              <h1 class="navbar-brand title-nav">ADMINISTRATION</h1>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="bg-light body-app">
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
