<div class="bg-white">
  <div class="d-flex container justify-content-end py-4">
    <a href="<%= newDevicesPath() %>" class="btn btn-info">Add devices</a>
  </div>
</div>

<div class="my-3">
  <%= partial("devices/flash.html") %>
</div>

<div class="bg-light">
  <table class="table border rounded bg-white">
    <thead>
      <tr>
        <th>Device Names</th>
        <th>Device Type</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <%= for (index, device) in devices { %>
      <tr>
          <td><%= device.Manufacture %></td>
          <td><%= device.OperatingSystem %></td>
          <td>$<%= device.Cost %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>