<div class="bg-white">
  <div class="d-flex container justify-content-between align-items-center py-4">
    <%= partial("links.html") %>
    <a href="<%= newDevicesPath() %>" class="btn btn-info">Add devices</a>
  </div>
</div>

<div class="my-3 container">
  <%= partial("flash.html") %>
</div>

<div class="container">
  <table class="table border rounded bg-white text-center">
    <thead> 
      <tr>
        <th>Device Names</th>
        <th>Device Type</th>
        <th>Cost</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= for (device) in devices { %>
      <tr>
          <td><a href="<%= devicePath({device_id: device.ID}) %>" class="text-muted"><%= device.Make %> <%= device.Model %></a></td>
          <td><%= device.OperatingSystem %></td>
          <td>$<%= device.Cost %></td>
          <td>
            <div class="dropdown">
              <button class="btn border" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="<%= devexPath({ device_id: device.ID }) %>" data-method="DELETE" data-confirm="Are you sure?">Delete</a>
              </div>
            </div>
          </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>