<div class="bg-white">
    <div class="d-flex container justify-content-end align-items-center py-4">
        <a href="<%= devicesPath() %>" class="btn btn-secondary">Back</a>
    </div>
    <%= partial("flash.html") %>
</div>

<div class="bg-light py-5">

    <div class="container">
        <div class="row my-2">
            <div class="col-lg-12">
                <h1 class="title-detail font-weight-bold"><%= device.Make %> <%= device.Model %></h1>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-3">
                <h2 class="title-detail">Device Details</h2>
            </div>
            <div class="col-lg-9">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-muted">
                <h3 class="type-detail">Type</h3>
                <h3 class="type-detail">SKU</h3>
                <h3 class="type-detail">Make</h3>
                <h3 class="type-detail">Model</h3>
            </div>
            <div class="col-lg-9">
                <h3 class="type-detail"><%= device.OperatingSystem %></h3>
                <h3 class="type-detail"><%= device.Manufacture%></h3>
                <h3 class="type-detail"><%= device.Make %></h3>
                <h3 class="type-detail"><%= device.Model %></h3>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-3">
                <h2 class="title-detail">Device Version</h2>
            </div>
            <div class="col-lg-9">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card border" style="width: 12rem;">
                    <img class="card-img-top p-3" src="<%= device.Image %>" alt="Card image cap">
                    <div class="card-body text-center">
                        <p class="card-text">
                            <b><%= device.Storage %></b>
                            <%= device.Color %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>