<div class="row form-group">
    <div class="col-lg-3">
        <h1 class="label-user font-weight-bold">User Basic Information</h1>
    </div>
    <div class="col-lg-9">
        <hr/>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-6">
        <div class="form-group">
            <%= f.InputTag("FirstName") %>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">        
            <%= f.InputTag("LastName") %>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <div class="form-group">
            <%= f.InputTag("Email", { type: "email" }) %>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-3">
        <h2 class="label-user font-weight-bold">User Configuration</h2>
    </div>
    <div class="col-lg-9">
        <hr/>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12">
        <label>User Role</label>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group border border-secondary rounded p-3" id="radioUser">
            <input type="radio" name="Role" value="RegularUser" checked id="regularUser">
            <label>Regular User</label>
        </div>
    </div>
    <div class="col-lg-3 border-info">
        <div class="form-group border border-secondary rounded p-3" id="radioManager">
            <input type="radio" name="Role" value="Manager" id="manager">
            <label>Manager</label>
        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-lg-12">
        <div class="form-group" id="emailManager">
            <%= f.InputTag("ManagerEmail", { type: "email", name: "ManagerEmail", id: "manageEmail" }) %>
        </div>
    </div>
</div>